<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Task Manager</h1>
    
    <ul>
        {% for todo in todos%}
        <li>
            
            <span {%if todo ['done'] %} style="text-decoration:line-through" {%endif%}>{{ todo['task'] }}</span>
            <form action="{{url_for('check', id=todo.id)}}" method="post">
                <button type="submit">check</button>
            </form>
            <a href="{{url_for('edit', id=todo.id) }}">edit</a>
            <a href="{{url_for('delete', id=todo.id) }}">delete</a>
        </li>
            
        {%endfor%}
    </ul>
    <form action= "{{url_for('add')}}" method = "post">
        <input type="text" name ="todo">
        <button type="submit"> Add Task </button>
    </form>
</body>
</html>